/* @import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&family=Work+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Turret Road", cursive; */
  /* font-family: "Grandstander", cursive; */
  font-family: "Turret Road", cursive;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  /* line-height: 18px; */
  /* border: 1px solid black; */
}

body {
  height: 150vh;
  background-color: #dfdfdf;
}

/* global custome start */
.FT19 {
  font-size: 1.2em;
}
/* 
.bg-dark-event {
  background-color: #182952;
} */

.btn-bg {
  letter-spacing: -1px;
  margin-right: 10px;
  background-color: #4b5d67;
  /* color: white !important; */
  border-radius: 5px;
  padding: 0 3px;
  color: #ffff;
  /* margin-left: 70%; */
}
.btn-bg:hover {
  text-decoration: none;
  color: #010101be;
}
/* global custome end */

/* nav start  */
.navbar-nav a {
  color: #010101 !important;
  margin: 0 10px;
  /* background-color: grey; */
}
/* nav end  */
