/* @import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&family=Work+Sans:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Turret Road", cursive; */
  /* font-family: "Grandstander", cursive; */
  font-family: "Turret Road", cursive;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  /* line-height: 18px; */
  /* border: 1px solid black; */
}

body {
  background-color: #fafafa;
}

/* global custome start */
.FT19 {
  font-size: 1.2em;
}

.fs1em {
  font-size: 1em;
}

.black-text {
  color: #010101;
}

/* .trans:active,
.trans::after {
  transition: 1s;
} */
/* 
.bg-dark-event {
  background-color: #182952;
} */

.txt-underline {
  text-decoration: underline;
}

.btn-bg {
  letter-spacing: -1px;
  /* margin-right: 10px; */
  background-color: #4b5d67;
  /* color: white !important; */
  border-radius: 10px;
  /* line-height: 30px; */
  padding: 0 7px;
  color: #010101;
  /* margin-left: 70%; */
}
.btn-bg:hover {
  text-decoration: none;
  color: #010101be;
}
/* global custome end */

/* nav start  */
.navbar-nav a {
  color: #010101;
  margin: 0 10px;
  /* background-color: grey; */
}

.navbar-nav a:hover {
  text-decoration: none;
  /* background-color: grey; */
}
/* nav end  */

/* footer start */
footer {
  color: #010101;
  background-color: #78b8b3cc;
  margin-top: 5em;
}
/* footer end */

/* sosmed icon start  */
.sosmed-icon a:hover {
  text-decoration: none;
}
/* sosmed icon end  */
